<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/">Examination</a>  </li>
                <li> <a href="/adm">Administration</a>  </li>
            </ul>
        </nav>
    </header>

    <main>
       <h1>Your Paper</h1>
       <p>Let me check Yours Papers............</p>

        </form>
    </main>
</body>
</html>